<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jasonone.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="cn.jasonone.bean.Order">
            <id property="oId" column="o_id" jdbcType="INTEGER"/>
            <result property="fName" column="f_name" jdbcType="VARCHAR"/>
            <result property="oType" column="o_type" jdbcType="VARCHAR"/>
            <result property="seStarttime" column="se_starttime" jdbcType="TIMESTAMP"/>
            <result property="seEndtime" column="se_endtime" jdbcType="TIMESTAMP"/>
            <result property="uName" column="u_name" jdbcType="VARCHAR"/>
            <result property="oPrice" column="o_price" jdbcType="DOUBLE"/>
            <result property="chName" column="ch_name" jdbcType="VARCHAR"/>
            <result property="cName" column="c_name" jdbcType="VARCHAR"/>
            <result property="cAddress" column="c_address" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        o_id,f_name,o_type,
        se_starttime,se_endtime,u_name,
        o_price,ch_name,c_name,
        c_address
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from order
        where  o_id = #{oId,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from order
        where  o_id = #{oId,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="o_id" keyProperty="oId" parameterType="cn.jasonone.bean.Order" useGeneratedKeys="true">
        insert into order
        ( o_id,f_name,o_type
        ,se_starttime,se_endtime,u_name
        ,o_price,ch_name,c_name
        ,c_address)
        values (#{oId,jdbcType=INTEGER},#{fName,jdbcType=VARCHAR},#{oType,jdbcType=VARCHAR}
        ,#{seStarttime,jdbcType=TIMESTAMP},#{seEndtime,jdbcType=TIMESTAMP},#{uName,jdbcType=VARCHAR}
        ,#{oPrice,jdbcType=DOUBLE},#{chName,jdbcType=VARCHAR},#{cName,jdbcType=VARCHAR}
        ,#{cAddress,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="o_id" keyProperty="oId" parameterType="cn.jasonone.bean.Order" useGeneratedKeys="true">
        insert into order
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="oId != null">o_id,</if>
                <if test="fName != null">f_name,</if>
                <if test="oType != null">o_type,</if>
                <if test="seStarttime != null">se_starttime,</if>
                <if test="seEndtime != null">se_endtime,</if>
                <if test="uName != null">u_name,</if>
                <if test="oPrice != null">o_price,</if>
                <if test="chName != null">ch_name,</if>
                <if test="cName != null">c_name,</if>
                <if test="cAddress != null">c_address,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="oId != null">#{oId,jdbcType=INTEGER},</if>
                <if test="fName != null">#{fName,jdbcType=VARCHAR},</if>
                <if test="oType != null">#{oType,jdbcType=VARCHAR},</if>
                <if test="seStarttime != null">#{seStarttime,jdbcType=TIMESTAMP},</if>
                <if test="seEndtime != null">#{seEndtime,jdbcType=TIMESTAMP},</if>
                <if test="uName != null">#{uName,jdbcType=VARCHAR},</if>
                <if test="oPrice != null">#{oPrice,jdbcType=DOUBLE},</if>
                <if test="chName != null">#{chName,jdbcType=VARCHAR},</if>
                <if test="cName != null">#{cName,jdbcType=VARCHAR},</if>
                <if test="cAddress != null">#{cAddress,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.jasonone.bean.Order">
        update order
        <set>
                <if test="fName != null">
                    f_name = #{fName,jdbcType=VARCHAR},
                </if>
                <if test="oType != null">
                    o_type = #{oType,jdbcType=VARCHAR},
                </if>
                <if test="seStarttime != null">
                    se_starttime = #{seStarttime,jdbcType=TIMESTAMP},
                </if>
                <if test="seEndtime != null">
                    se_endtime = #{seEndtime,jdbcType=TIMESTAMP},
                </if>
                <if test="uName != null">
                    u_name = #{uName,jdbcType=VARCHAR},
                </if>
                <if test="oPrice != null">
                    o_price = #{oPrice,jdbcType=DOUBLE},
                </if>
                <if test="chName != null">
                    ch_name = #{chName,jdbcType=VARCHAR},
                </if>
                <if test="cName != null">
                    c_name = #{cName,jdbcType=VARCHAR},
                </if>
                <if test="cAddress != null">
                    c_address = #{cAddress,jdbcType=VARCHAR},
                </if>
        </set>
        where   o_id = #{oId,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.jasonone.bean.Order">
        update order
        set 
            f_name =  #{fName,jdbcType=VARCHAR},
            o_type =  #{oType,jdbcType=VARCHAR},
            se_starttime =  #{seStarttime,jdbcType=TIMESTAMP},
            se_endtime =  #{seEndtime,jdbcType=TIMESTAMP},
            u_name =  #{uName,jdbcType=VARCHAR},
            o_price =  #{oPrice,jdbcType=DOUBLE},
            ch_name =  #{chName,jdbcType=VARCHAR},
            c_name =  #{cName,jdbcType=VARCHAR},
            c_address =  #{cAddress,jdbcType=VARCHAR}
        where   o_id = #{oId,jdbcType=INTEGER} 
    </update>
</mapper>
