<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jasonone.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="cn.jasonone.bean.Order">
            <id property="oId" column="o_id" jdbcType="INTEGER"/>
            <result property="fName" column="f_name" jdbcType="VARCHAR"/>
            <result property="oType" column="o_type" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="uId" column="u_id" jdbcType="INTEGER"/>
            <result property="oPrice" column="o_price" jdbcType="DOUBLE"/>
            <result property="chName" column="ch_name" jdbcType="VARCHAR"/>
            <result property="cName" column="c_name" jdbcType="VARCHAR"/>
            <result property="cAddress" column="c_address" jdbcType="VARCHAR"/>
            <result property="cStatus" column="c_status" jdbcType="INTEGER"/>
    </resultMap>
    <update id="buySeat">
        UPDATE seats SET s_status=1 WHERE s_id=#{sid}
    </update>
    <update id="cancelOrder">
        UPDATE `order` SET c_status=0 WHERE o_id=#{oid}
    </update>
    <delete id="deleteOrder">
        delete from `order` WHERE o_id=#{oid}
    </delete>
    <select id="getOrderInfo" resultMap="BaseResultMap">
        select o_id,f_name,o_type,start_time,end_time,u_id,o_price,ch_name,c_name,c_address,c_status from `order` where u_id= #{uId,javaType=INTEGER}
    </select>
   <select id="getSeatId" resultType="integer">
        select s_id from seats where s_row=#{row} and s_col=#{col} and h_id=#{hid}
    </select>
    <select id="getLastOrderId" resultType="java.lang.Integer">
        select max(o_id) from `order`
    </select>
    <select id="getFilmByName" resultType="cn.jasonone.bean.Films">
            select * from films where f_name=#{fName,jdbcType=VARCHAR}
    </select>


    <insert id="buy">
        insert into `order` values (null,#{fName},#{oType},#{startTime},#{endTime},#{uId},#{oPrice},#{chName},#{cName},#{cAddress},1)

    </insert>
    <insert id="orderSeat">
        insert into orderdetail values (#{oId},null,#{row},#{col})
    </insert>

</mapper>
