<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jasonone.mapper.PlayerMapper">

    <resultMap id="BaseResultMap" type="cn.jasonone.bean.Player">
            <id property="playerid" column="playerId" jdbcType="INTEGER"/>
            <result property="playername" column="playerName" jdbcType="VARCHAR"/>
            <result property="playerimg" column="playerImg" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        playerId,playerName,playerImg
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from player
        where  playerId = #{playerid,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from player
        where  playerId = #{playerid,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="playerId" keyProperty="playerid" parameterType="cn.jasonone.bean.Player" useGeneratedKeys="true">
        insert into player
        ( playerId,playerName,playerImg
        )
        values (#{playerid,jdbcType=INTEGER},#{playername,jdbcType=VARCHAR},#{playerimg,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="playerId" keyProperty="playerid" parameterType="cn.jasonone.bean.Player" useGeneratedKeys="true">
        insert into player
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="playerid != null">playerId,</if>
                <if test="playername != null">playerName,</if>
                <if test="playerimg != null">playerImg,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="playerid != null">#{playerid,jdbcType=INTEGER},</if>
                <if test="playername != null">#{playername,jdbcType=VARCHAR},</if>
                <if test="playerimg != null">#{playerimg,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.jasonone.bean.Player">
        update player
        <set>
                <if test="playername != null">
                    playerName = #{playername,jdbcType=VARCHAR},
                </if>
                <if test="playerimg != null">
                    playerImg = #{playerimg,jdbcType=VARCHAR},
                </if>
        </set>
        where   playerId = #{playerid,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.jasonone.bean.Player">
        update player
        set 
            playerName =  #{playername,jdbcType=VARCHAR},
            playerImg =  #{playerimg,jdbcType=VARCHAR}
        where   playerId = #{playerid,jdbcType=INTEGER} 
    </update>
</mapper>
